.task {
  width: 150px;
  background-color: rgba(160, 144, 144, .3);
  padding: 50px;
  color: rgb(69, 69, 122);
  margin-left: 10px;
}

.first {
  background-color: green;
}

.second {
  background-color: yellow;
}
.third {
  transform:scale(1.2);
}
