.searchSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 30px;
  box-shadow: 0px 3px 15px rgb(168, 148, 148);
}

.datePicker {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 18px;
}