body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item {
  padding: 10px 15px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
  text-decoration: none;
  color:rgba(0, 255, 255, 0.3)
}

a {
  color: rgb(56, 87, 87);
}